In [9]:
import pandas as pd

In [10]:
#Cria um dicionario com autores, preços e titulos
dictionary = {'Autores': ['Rick Riordan', 'J.R.R. Tolkien', 'Rick Riordan', 'Machado de Assis'],
              'Titulos': ['O Ladrão de Raios', 'A Sociedade do Anel', 'Mar de Monstros', 'Memórias Postumas de Brás Cubas'],
              'Preços': [41.2, 35.7, 39.5, 40.5]}

In [11]:
## DataFrames
df = pd.DataFrame(dictionary)

In [12]:
df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1    J.R.R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5

In [13]:
df['Autores'][1]

'J.R.R. Tolkien'

In [14]:
df['Preços'].mean()

39.225

In [37]:
df[df['Autores'] == 'Rick Riordan']['Titulos']

0     O Ladrão de Raios
2       Mar de Monstros
4    A maldição do Titã
5    A maldição do Titã
Name: Titulos, dtype: object

In [34]:
mascara = (df['Autores'] == 'Rick Riordan')

In [17]:
df[mascara]

        Autores            Titulos  Preços
0  Rick Riordan  O Ladrão de Raios    41.2
2  Rick Riordan    Mar de Monstros    39.5

In [20]:
df = df.append({'Autores': 'Rick Riordan', 'Titulos': 'A maldiçã do Titâ', 'Preços': 40}, ignore_index= True)

C:\Users\Maike William\AppData\Local\Temp\ipykernel_18820\938778129.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Autores': 'Rick Riordan', 'Titulos': 'A maldiçã do Titâ', 'Preços': 40}, ignore_index= True)

In [21]:
df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1    J.R.R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4      Rick Riordan                A maldiçã do Titâ    40.0
5      Rick Riordan                A maldiçã do Titâ    40.0

In [26]:
mascara_correcao = df['Titulos'] == 'A maldiçã do Titâ'

In [31]:
df.loc[mascara_correcao, 'Titulos'] = 'A maldição do Titã'

In [32]:
df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1    J.R.R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4      Rick Riordan               A maldição do Titã    40.0
5      Rick Riordan               A maldição do Titã    40.0

In [38]:
df = df.drop(5)

In [39]:
df

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1    J.R.R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4      Rick Riordan               A maldição do Titã    40.0

In [49]:
df = df.append({'Autores': 'James Dashner', 'Titulos': 'Maze Runner', 'Preços': 30}, ignore_index = True)

C:\Users\Maike William\AppData\Local\Temp\ipykernel_18820\4068296318.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Autores': 'James Dashner', 'Titulos': 'Maze Runner', 'Preços': 30}, ignore_index = True)

In [50]:
df

            Autores                          Titulos  Preços Titulo
0      Rick Riordan                O Ladrão de Raios    41.2    NaN
1    J.R.R. Tolkien              A Sociedade do Anel    35.7    NaN
2      Rick Riordan                  Mar de Monstros    39.5    NaN
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5    NaN
4      Rick Riordan               A maldição do Titã    40.0    NaN
5     James Dashner                      Maze Runner    30.0    NaN

In [51]:
df.drop(columns=['Titulo'])

            Autores                          Titulos  Preços
0      Rick Riordan                O Ladrão de Raios    41.2
1    J.R.R. Tolkien              A Sociedade do Anel    35.7
2      Rick Riordan                  Mar de Monstros    39.5
3  Machado de Assis  Memórias Postumas de Brás Cubas    40.5
4      Rick Riordan               A maldição do Titã    40.0
5     James Dashner                      Maze Runner    30.0